@font-face {
    font-family: GalanoGrotesque-Medium;
    src: url(../fonts/Galano\ Grotesque\ Alt\ Medium.otf);
}

body {
    background-image: url(../images/jared-brashier-6WPcf5D1XdA-unsplash.jpg);
    background-size: auto;
    max-height: 100vh;
}

:root {
    --primary-color: #ec2730;
    --text-color: #FFF;
}

#red-color {
    color: #ec2730;
}

@media only screen and (min-width: 50px) and (max-height: 1250px) {

.nav {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    flex-shrink: 0;
    background: transparent;
}

.nav img {
    position: relative;
    left: -15px;
    top: 1px;
    height: 40px;
    background-color: transparent;
}

.nav li {
    display: inline-block;
    margin-right: 15px;
    color: var(--text-color);
}

.nav button {
    height: 15px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
    transition: all 500ms;
}

.nav button:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.nav ul {
    padding: 0;
    display: flex;
    align-items: center;
}

.container {
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
}

.container h3 {
    color: var(--text-color);
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    margin-top: 40px;
}

.container h1 {
    color: var(--text-color);
    font-size: 40px;
    font-family: Inter;
    font-weight: 500;
}

.container h2 {
    color: var(--text-color);
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    margin: 20px auto;
}

.container p {
    font-family: GalanoGrotesque-Medium;
    color: var(--text-color);
}


.section-heading {
    color: var(--text-color);
    font-size: 34px;
    font-family: GalanoGrotesque-Medium;
    text-align: center;
    font-weight: bold;
}



.project { 
backdrop-filter: blur(3px); 
    border-radius: 1.5rem;
    position: relative;
    background-color: #0e0e0e9c;
    padding: 20px;
    width: auto;
    margin: 0 auto 20px;
  }
  
  .project-title {
    color: var(--text-color);
    text-align: center;
    font-family: GalanoGrotesque-Medium;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-family: GalanoGrotesque-Medium;
    text-align: center;
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 0;
  }
  .song { 
backdrop-filter: blur(3px);
    border-radius: 1.5rem;
    position: relative;
    background-color: #0e0e0e9c;
    padding: 20px;
    width: auto;
    margin: 0 auto 20px;
    display: flex;
    align-items: flex-start;
  }
  
  .song img {
    height: 95px;
    margin-right: 10px;
    border-radius: 15px;
  }
  
  .song-title {
    color: var(--text-color);
    text-align: center;
    font-family: GalanoGrotesque-Medium;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }
  
  .song-description {
    font-family: GalanoGrotesque-Medium;
    text-align: center;
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 0;
  }
  

}



@media only screen and (min-width: 360px) and (max-height: 750px) {

    .nav {
        display: flex;
        justify-content: center;
        position: relative;
        height: 60px;
        flex-shrink: 0;
        background: transparent;
    }
    
    .nav img {
        position: relative;
        left: -15px;
        top: 1px;
        height: 40px;
        background-color: transparent;
    }
    
    .nav li {
        display: inline-block;
        margin-right: 15px;
        color: var(--text-color);
    }
    
    .nav button {
        height: 15px;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        font-size: 15px;
        font-family: Inter;
        font-weight: 500;
        transition: all 500ms;
    }
    
    .nav button:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
    
    .nav ul {
        padding: 0;
        display: flex;
        align-items: center;
    }
    
    .container {
        max-height: 100vh;
        overflow-y: auto;
        padding: 20px;
        text-align: center;
    }
    
    .container h3 {
        color: var(--text-color);
        font-size: 24px;
        font-family: Inter;
        font-weight: 500;
        margin-top: 40px;
    }
    
    .container h1 {
        color: var(--text-color);
        font-size: 40px;
        font-family: Inter;
        font-weight: 500;
    }
    
    .container h2 {
        color: var(--text-color);
        font-size: 16px;
        font-family: Inter;
        font-weight: 500;
    }
    
    .container img {
        width: 200px;
        height: 200px;
        border-radius: 1rem;
        margin: 20px auto;
    }
    
    .container p {
        font-family: GalanoGrotesque-Medium;
        color: var(--text-color);
    }
    
    
    .section-heading {
        color: var(--text-color);
        font-size: 34px;
        font-family: GalanoGrotesque-Medium;
        text-align: center;
        font-weight: bold;
    }
    
    
    
    .project { 
backdrop-filter: blur(3px);
        border-radius: 1.5rem;
        position: relative;
        background-color: #0e0e0e9c;
        padding: 20px;
        width: auto;
        margin: 0 auto 20px;
      }
      
      .project-title {
        color: var(--text-color);
        text-align: center;
        font-family: GalanoGrotesque-Medium;
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      .project-description {
        font-family: GalanoGrotesque-Medium;
        text-align: center;
        color: var(--text-color);
        font-size: 14px;
        margin-bottom: 0;
      }
      .song { 
backdrop-filter: blur(3px);
        border-radius: 1.5rem;
        position: relative;
        background-color: #0e0e0e9c;
        padding: 20px;
        width: auto;
        margin: 0 auto 20px;
        display: flex;
        align-items: flex-start;
      }
      
      .song img {
        height: 95px;
        margin-right: 10px;
        border-radius: 15px;
      }
      
      .song-title {
        color: var(--text-color);
        text-align: center;
        font-family: GalanoGrotesque-Medium;
        font-size: 18px;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
      }
      
      .song-description {
        font-family: GalanoGrotesque-Medium;
        text-align: center;
        color: var(--text-color);
        font-size: 14px;
        margin-bottom: 0;
      }
      
    
    }


    @media only screen and (min-width: 600px) and (max-height: 1750px) {

        .nav {
            display: flex;
            justify-content: center;
            position: relative;
            height: 60px;
            flex-shrink: 0;
            background: transparent;
        }
        
        .nav img {
            position: relative;
            left: -15px;
            top: 1px;
            height: 40px;
            background-color: transparent;
        }
        
        .nav li {
            display: inline-block;
            margin-right: 15px;
            color: var(--text-color);
        }
        
        .nav button {
            height: 15px;
            background-color: transparent;
            border: none;
            color: var(--text-color);
            font-size: 15px;
            font-family: Inter;
            font-weight: 500;
            transition: all 500ms;
        }
        
        .nav button:hover {
            color: var(--primary-color);
            cursor: pointer;
        }
        
        .nav ul {
            padding: 0;
            display: flex;
            align-items: center;
        }
        
        .container {
            max-height: 100vh;
            overflow-y: auto;
            padding: 20px;
            text-align: center;
        }
        
        .container h3 {
            color: var(--text-color);
            font-size: 24px;
            font-family: Inter;
            font-weight: 500;
            margin-top: 40px;
        }
        
        .container h1 {
            color: var(--text-color);
            font-size: 40px;
            font-family: Inter;
            font-weight: 500;
        }
        
        .container h2 {
            color: var(--text-color);
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
        }
        
        .container img {
            width: 200px;
            height: 200px;
            border-radius: 1rem;
            margin: 20px auto;
        }
        
        .container p {
            font-family: GalanoGrotesque-Medium;
            color: var(--text-color);
        }
        
        
        .section-heading {
            color: var(--text-color);
            font-size: 34px;
            font-family: GalanoGrotesque-Medium;
            text-align: center;
            font-weight: bold;
        }
        
        
        
        .project { 
backdrop-filter: blur(3px);
            border-radius: 1.5rem;
            position: relative;
            background-color: #0e0e0e9c;
            padding: 20px;
            width: auto;
            margin: 0 auto 20px;
          }
          
          .project-title {
            color: var(--text-color);
            text-align: center;
            font-family: GalanoGrotesque-Medium;
            font-size: 18px;
            margin-bottom: 10px;
          }
          
          .project-description {
            font-family: GalanoGrotesque-Medium;
            text-align: center;
            color: var(--text-color);
            font-size: 20px;
            margin-bottom: 0;
          }
          .song { 
backdrop-filter: blur(3px);
            border-radius: 1.5rem;
            position: relative;
            background-color: #0e0e0e9c;
            padding: 20px;
            width: auto;
            margin: 0 auto 20px;
            display: flex;
            align-items: flex-start;
          }
          
          .song img {
            height: 95px;
            margin-right: 10px;
            border-radius: 15px;
          }
          
          .song-title {
            color: var(--text-color);
            text-align: center;
            font-family: GalanoGrotesque-Medium;
            font-size: 18px;
            margin-bottom: 10px;
            width: 100%;
            text-align: left;
          }
          
          .song-description {
            font-family: GalanoGrotesque-Medium;
            text-align: center;
            color: var(--text-color);
            font-size: 20px;
            margin-bottom: 0;
          }
          
        
        }


        @media only screen and (min-width: 1000px) and (max-height: 1750px) {

            .nav {
                display: flex;
                justify-content: center;
                position: relative;
                height: 60px;
                flex-shrink: 0;
                background: transparent;
            }
            
            .nav img {
                position: relative;
                left: -15px;
                top: 1px;
                height: 40px;
                background-color: transparent;
            }
            
            .nav li {
                display: inline-block;
                margin-right: 65px;
                color: var(--text-color);
            }
            
            .nav button {
                height: 15px;
                background-color: transparent;
                border: none;
                color: var(--text-color);
                font-size: 20px;
                font-family: Inter;
                font-weight: 500;
                transition: all 500ms;
            }
            
            .nav button:hover {
                color: var(--primary-color);
                cursor: pointer;
            }
            
            .nav ul {
                padding: 0;
                display: flex;
                align-items: center;
            }
            
            .container {
                max-height: 100vh;
                overflow-y: auto;
                padding: 20px;
                text-align: center;
            }
            
            .container h3 {
                color: var(--text-color);
                font-size: 24px;
                font-family: Inter;
                font-weight: 500;
                margin-top: 40px;
            }
            
            .container h1 {
                color: var(--text-color);
                font-size: 40px;
                font-family: Inter;
                font-weight: 500;
            }
            
            .container h2 {
                color: var(--text-color);
                font-size: 16px;
                font-family: Inter;
                font-weight: 500;
            }
            
            .container img {
                width: 200px;
                height: 200px;
                border-radius: 1rem;
                margin: 20px auto;
            }
            
            .container p {
                font-family: GalanoGrotesque-Medium;
                color: var(--text-color);
            }
            
            
            .section-heading {
                color: var(--text-color);
                font-size: 34px;
                font-family: GalanoGrotesque-Medium;
                text-align: center;
                font-weight: bold;
            }
            
            
            
            .project { 
backdrop-filter: blur(3px);
                border-radius: 1.5rem;
                position: relative;
                background-color: #0e0e0e9c;
                padding: 20px;
                width: auto;
                margin: 0 auto 20px;
              }
              
              .project-title {
                color: var(--text-color);
                text-align: center;
                font-family: GalanoGrotesque-Medium;
                font-size: 18px;
                margin-bottom: 10px;
              }
              
              .project-description {
                font-family: GalanoGrotesque-Medium;
                text-align: center;
                color: var(--text-color);
                font-size: 20px;
                margin-bottom: 0;
              }
              .song { 
backdrop-filter: blur(3px);
                border-radius: 1.5rem;
                position: relative;
                background-color: #0e0e0e9c;
                padding: 20px;
                width: auto;
                margin: 0 auto 20px;
                display: flex;
                align-items: flex-start;
              }
              
              .song img {
                height: 95px;
                margin-right: 10px;
                border-radius: 15px;
              }
              
              .song-title {
                color: var(--text-color);
                text-align: center;
                font-family: GalanoGrotesque-Medium;
                font-size: 18px;
                margin-bottom: 10px;
                width: 100%;
                text-align: left;
              }
              
              .song-description {
                font-family: GalanoGrotesque-Medium;
                text-align: center;
                color: var(--text-color);
                font-size: 250x;
                margin-bottom: 0;
              }
              
            
            }



body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    height: 4rem;
    border-radius: 0.5rem;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--primary-color);
    

    &:hover {
        background-color: var(--primary-color);
    }
}

body::-webkit-scrollbar-track {
    background-image: url(../images/jared-brashier-6WPcf5D1XdA-unsplash.jpg);
}
